/* Globals ---------------- */

:root {
    --backgorund-gray: rgb(32, 32, 36);
    --text-light-color: rgb(168, 168, 179);
    --text-white-color: rgb(255, 255, 255);
    --color-primary: rgb(130, 87, 230);
    --color-secondary: rgb(168, 131, 255);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--text-light-color);
    background: rgb(18, 18, 20);
    font-family: Roboto, BlinkMacSystemFont, "Segoe UI";
}

a {
    text-decoration: none;
    color: var(--color-primary);
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

input {
    background: rgb(18, 18, 20);
    border: 2px solid rgb(18, 18, 20);
    height: 50px;
    outline: 0px;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    width: 100%;
    padding: 0px 1rem 0px 2.5rem;
    border-radius: 5px;
}

/* Login -------------- */

#login {
    display: flex;
    width: 70%;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

#intro {
    width: 100%;
    /* margin: 0 auto; */
}

#intro div {
    margin-bottom: 40px;
}

#intro h1 {
    color: rgb(225, 225, 230);
    font-size: 3.2rem;
}

#form-login {
    width: 100%;
    max-width: 480px;
    background: var(--backgorund-gray);
    min-height: 480px;
    padding: 60px;
    border-radius: 5px;
}

.field-group {
    width: 100%;
    display: grid;
    grid-auto-flow: row;
    gap: 10px;
}

.field {
    position: relative;
}

.field input:focus{
    border: 2px solid var(--color-primary);
}

.field svg {
    position: absolute;
    left: 16px;
    top: calc(50% - 8px);
    font-size: 14px;
    fill: rgb(40, 39, 44);
    transition: fill 0.2s ease 0s;
}

.field:focus-within > svg {
    fill: rgb(130, 87, 229);  
}

#show-password svg{
   position: absolute;
   font-size: 16px;
   left: calc(100% - 32px);
   fill: rgb(130, 87, 229);
   cursor: pointer;
}

.link-login {
    color: var(--color-primary);
    font-size: 14px;
    text-decoration: none;
    font-weight: 600;
    display: inline-block;
    margin: 0.5rem 0 1rem 0;
    opacity: 0.8;
    transition: opacity 0.2s ease 0s;
}

.link-login:hover {
    opacity: 1;
}

.button {
    width: 100%;
}

.button-submit {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border: 0px;
    outline: 0px;
    background: var(--color-primary);
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    transition: background 0.2s ease 0s, color 0.2s ease 0s;
    cursor: pointer;
}

.button-submit:hover {
    background: var(--color-secondary);
}

.button-submit:disabled {
    background: rgb(65, 53, 107);
    color: rgba(255, 255, 255, 0.35);
    cursor: not-allowed;
}

#sign-up {
    text-align: center;
    padding: 20px 0 10px 0;
    font-size: 14px;
    border-bottom: 1px solid rgb(40, 39, 47);
    margin-bottom: 30px;
}

#sign-in-with-github {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
}

#sign-in-with-github div {
    margin-right: 1rem;
    white-space: nowrap;
}

#sign-in-with-github a {
    width: 100%;
    background: rgb(41, 41, 46);
    height: 50px;
    border-radius: 5px;
    border: 0px;
    outline: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--text-white-color);
    transition: background 0.2s ease 0s, color 0.2s ease 0s;
}

#sign-in-with-github a svg {
    margin-right: 0.7rem;
    fill: rgb(130, 87, 229);
}

#sign-in-with-github:hover a {
    background: var(--color-secondary);
}

#sign-in-with-github:hover a svg {
    fill: var(--text-white-color);
}

/* Forgot --------------- */

#forgot {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

#forgot h1 {
    color: var(--text-white-color);
    margin-bottom: 2rem;
}

#form-recover-password {
    width: 70%;
    max-width: 320px;
}

#form-recover-password .field-group {
    gap: 20px;
}

.field input {
    background: rgb(23, 23, 26);
    border-color: rgb(40, 39, 44);
}

#form-recover-password small a{
    margin-top: 1.2rem;
    display: inline-block;
    color: var(--text-light-color);
}

#form-recover-password small a:hover {
    text-decoration: underline;
}


@media (max-width: 1160px) {
    #login {
        flex-direction: column;
    }
    #intro {
        margin-bottom: 30px;
        max-width: 480px;
    }
}